// .layout-topbar {
//     position: fixed;
//     height: 3rem;
//     z-index: 997;
//     left: 0;
//     top: 0;
//     width: 100%;
//     padding: 0 1rem;
//     background-color: var(--surface-card);
//     transition: left $transitionDuration;
//     display: flex;
//     align-items: center;
//     box-shadow: 0px 3px 5px rgba(0, 0, 0, .02), 0px 0px 2px rgba(0, 0, 0, .05), 0px 1px 4px rgba(0, 0, 0, .08);

//     &.with-shadow {
//         box-shadow: 0px 3px 5px rgba(0, 0, 0, .02), 0px 0px 2px rgba(0, 0, 0, .05), 0px 1px 4px rgba(0, 0, 0, .08);
//     }
    
//     .layout-topbar-logo {
//         display: flex;
//         align-items: center;
//         color: var(--surface-900);
//         font-size: 1.5rem;
//         font-weight: 500;
//         width: 250px;
//         border-radius: 12px;

//         img {
//             height: 3rem;
//             width: 15rem;
//             margin-right: 0.5rem;
//             object-fit: contain;
//         }

//         &:focus {
//             @include focused();
//         }
//     }

//     .layout-topbar-button {
//         display: inline-flex;
//         justify-content: center;
//         align-items: center;
//         position: relative;
//         color: var(--text-color-secondary);
//         border-radius: 50%;
//         width: 3rem;
//         height: 4rem;
//         cursor: pointer;
//         transition: background-color $transitionDuration;

//         &:hover {
//             // color: var(--text-color);
//             color: var(--primary-color);
//             // background-color: var(--surface-hover);
//         }

//         &:focus {
//             @include focused();
//         }

//         i {
//             font-size: 1.5rem;
//         }

//         span {
//             font-size: 1rem;
//             display: none;
//         }
//     }

//     .layout-menu-button {
//         margin-left: 2rem;
//     }

//     .layout-topbar-menu-button {
//         display: none;

//         i {
//             font-size: 1.25rem;
//         }
//     }

//     .layout-topbar-menu {
//         margin: 0 0 0 auto;
//         padding: 0;
//         list-style: none;
//         display: flex;

//         .layout-topbar-button {
//             margin-left: 1rem;
//         }
//     }
// }

// @media (max-width: 991px) {
//     .layout-topbar {
//         justify-content: space-between;

//         .layout-topbar-logo {
//             width: auto;
//             order: 2;
//         }

//         .layout-menu-button {
//             margin-left: 0;
//             order: 1;
//         }

//         .layout-topbar-menu-button {
//             display: inline-flex;
//             margin-left: 0;
//             order: 3;
//         }

//         .layout-topbar-menu {
//             margin-left: 0;
//             position: absolute;
//             flex-direction: column;
//             background-color: var(--surface-overlay);
//             box-shadow: 0px 3px 5px rgba(0, 0, 0, .02), 0px 0px 2px rgba(0, 0, 0, .05), 0px 1px 4px rgba(0, 0, 0, .08);
//             border-radius: 12px;
//             padding: 1rem;
//             right: 0rem;
//             top: 4rem;
//             min-width: 15rem;
//             display: none;
//             -webkit-animation: scalein 0.15s linear;
//             animation: scalein 0.15s linear;

//             &.layout-topbar-menu-mobile-active {
//                 display: block
//             }

//             .layout-topbar-button {
//                 margin-left: 0;
//                 display: flex;
//                 width: 100%;
//                 height: auto;
//                 justify-content: flex-start;
//                 border-radius: 12px;
//                 padding: 1rem;

//                 i {
//                     font-size: 1rem;
//                     margin-right: .5rem;
//                 }

//                 span {
//                     font-weight: medium;
//                     display: block;
//                 }
//             }
//         }
//     }
// }

// .layout-upper-panel{
//     box-shadow: 0px 3px 5px rgba(0, 0, 0, .02), 0px 0px 2px rgba(0, 0, 0, .05), 0px 1px 4px rgba(0, 0, 0, .08);

//     }

.layout-topbar {
    position: fixed;
    height: 3rem;
    z-index: 997;
    left: 0;
    top: 0;
    width: 98.5%;
    padding: 0 1rem;
    background-color: var(--surface-card);
    transition: left $transitionDuration;
    display: flex;
    align-items: center;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, .02), 0px 0px 1px rgba(0, 0, 0, .05), 0px 1px 1px rgba(0, 0, 0, .08);
    border-radius: 15px 15px 1px 1px;
    // margin-left: 5px;
    // margin-right: 15px;

    .side-menu {
        width: 60px; /* Collapsed state */
        transition: width 0.3s ease-in-out;
    }
    
    .expanded-menu {
        width: 250px; /* Expanded state */
    }
    
    .layout-topbar-logo {
        display: flex;
        align-items: center;
        color: var(--surface-900);
        font-size: 1.5rem;
        font-weight: 500;
        width: 250px;
        border-radius: 12px;

        img {
            height: 3rem;
            width: 15rem;
            margin-right: 0.5rem;
            object-fit: contain;
        }

        &:focus {
            @include focused();
        }
    }

    .layout-topbar-button {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        position: relative;
        color: var(--text-color-secondary);
        border-radius: 50%;
        width: 2rem;
        height: 3rem;
        cursor: pointer;
        transition: background-color $transitionDuration;

        &:hover {
            // color: var(--text-color);
            color: var(--primary-color);
            // background-color: var(--surface-hover);
        }

        &:focus {
            @include focused();
        }

        i {
            font-size: 1rem;
        }

        span {
            font-size: 1rem;
            display: none;
        }
    }

    .layout-menu-button {
        margin-left: 2rem;
    }

    .layout-topbar-menu-button {
        display: none;

        i {
            font-size: 1rem;
        }
    }

    .layout-topbar-menu {
        margin: 0 0 0 auto;
        padding: 0;
        list-style: none;
        display: flex;

        .layout-topbar-button {
            margin-left: 1rem;
        }
    }
    /* Custom styles for the search bar */
        .custom-search-bar {
            width: 600px; /* Adjust width as needed */
            height: 28px; /* Adjust height as needed */
            margin-top: 6px;
        }

        .custom-search-input {
            width: 100%;
            height: 100%;
            padding: 5px 10px;
            border-radius: 4px;
            border: 1px solid #ccc;
            font-size: 14px;
        }
        .custom-search-bar i.pi-search {
            position: absolute;
            left: 560px; /* Adjust position inside input */
            top: 50%;
            transform: translateY(-50%);
            color: #6c757d;
        }

        /* Styles for the icons */
        .layout-topbar-menu .p-link {
            margin: 0 10px;
            color: #6c757d;
            font-size: 1.2rem;
            transition: color 0.3s ease;
        }

        .layout-topbar-menu .p-link:hover {
            color: #282429; /* Change color on hover */
        }
}

@media (max-width: 991px) {
    .layout-topbar {
                justify-content: space-between;
        
                .layout-topbar-logo {
                    width: auto;
                    order: 2;
                }
        
                .layout-menu-button {
                    margin-left: 0;
                    order: 1;
                }
        
                .layout-topbar-menu-button {
                    display: inline-flex;
                    margin-left: 0;
                    order: 3;
                }
        
                .layout-topbar-menu {
                    margin-left: 0;
                    position: absolute;
                    flex-direction: column;
                    background-color: var(--surface-overlay);
                    box-shadow: 0px 3px 5px rgba(0, 0, 0, .02), 0px 0px 2px rgba(0, 0, 0, .05), 0px 1px 4px rgba(0, 0, 0, .08);
                    border-radius: 12px;
                    padding: 1rem;
                    right: 0rem;
                    top: 4rem;
                    min-width: 15rem;
                    display: none;
                    -webkit-animation: scalein 0.15s linear;
                    animation: scalein 0.15s linear;
        
                    &.layout-topbar-menu-mobile-active {
                        display: block
                    }
        
                    .layout-topbar-button {
                        margin-left: 0;
                        display: flex;
                        width: 100%;
                        height: auto;
                        justify-content: flex-start;
                        border-radius: 12px;
                        padding: 1rem;
        
                        i {
                            font-size: 1rem;
                            margin-right: .5rem;
                        }
        
                        span {
                            font-weight: medium;
                            display: block;
                        }
                    }
                }
            }
        }
        
        .layout-upper-panel{
            box-shadow: 0px 3px 5px rgba(0, 0, 0, .02), 0px 0px 2px rgba(0, 0, 0, .05), 0px 1px 4px rgba(0, 0, 0, .08);
        
            }